@import "./scss/anme/styles.scss";

.page-container {
  padding: 24px 32px;
  height: calc(100vh - 53px);
  overflow: auto;
  box-sizing: border-box;
  font-family:'JetBrains Mono';

  @include custom-scroll2;
}
